.notice {
    background: #b7b7b7;
    color: white;
    padding: 1.5rem;
    position: fixed;
    z-index: 35;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6pt;
    bottom: 30px;
    max-width: 80%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.alert {
    background: #f33c3c;
    color: white;
    padding: 1.5rem;
    position: fixed;
    z-index: 35;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6pt;
    bottom: 30px;
    max-width: 80%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}