.notice {
    background-color: var(--neon-green);
    color: var(--dark);
    padding: 1.5rem;
    position: fixed;
    z-index: 35;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--radius);
    top: 6rem;
    max-width: 80%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.alert {
    background-color: var(--warning);
    color: var(--dark);
    padding: 1.5rem;
    position: fixed;
    z-index: 35;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--radius);
    top: 6rem;
    max-width: 80%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}