.login {
    display: flex;

    .login_ad_box {
        /* position: relative; */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
        border-radius: 1rem;
        background: var(--black);
        padding: 1rem;
        height: 60rem;
        max-height: 85vh;
        background-image: url('duna.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            /* padding: 1rem 1rem; */
            .logo_container {
                img {
                    height: 3rem;
                }
            }
        }

        .footerr {
            text-align: center;
            color: white;
            margin-top: auto;
            margin-bottom: 1rem;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }

    .login_box {
        height: var(--height);
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .login_form {
            max-width: 70%;
            width: 30rem;

            .login_box_textt {
                padding: 2rem 0;
            }

            .login_box_logo {
                margin-bottom: 1rem;

                img {
                    height: 2.5rem;
                }
            }

            .login_box_title {
                color: white;
                font-size: 1.5rem;
                font-weight: 400;
            }

            .login_box_p {
                /* color: white; */
                /* font-size: 1.2rem; */
                font-weight: 300;
            }
        }
    }

    /* de tablet y menor */
    @media (max-width: 1023px) {
        flex-direction: column;

        .login_ad_box {
            flex: none;
            height: 20rem;
            order: 2;
            margin: 3rem 0;
        }

        .login_box {
            margin-top: 3rem;
        }
    }
}

.boxx {
    background: #2d343c;
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    color: white;

    .title {
        color: white;
        font-size: 1.5rem;
    }

    .link {
        color: #acacac;
    }

    .link:hover {
        color: #ffffff;
    }
}

.logo_login {
    margin-bottom: 1rem;
}