.nav_movil_user,
.nav_movil {
    padding: 0 35px;
    position: fixed;
    left: 0;
    bottom: 30px;
    width: 100%;
    z-index: 99;

    .inner {
        padding: 10px;
        display: flex;
        border-radius: var(--radius);
        background: rgba(20, 20, 20, 0.8);
        /* background: rgba(255, 255, 255, 0.5); */
        overflow: hidden;
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow:
            0 8px 32px rgba(0, 0, 0, 0.1),
            0 4px 16px rgba(0, 0, 0, 0.05);

        &:before {
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: url(#wave-distort);
        }

        .icon {
            flex: 1;
            padding: 20px 0;

            img {
                height: 20px;

                &.logo {
                    height: 35px;
                }
            }

            .counter {
                background-color: #e44545;
                color: white;
                border-radius: 50%;
                padding: 2px 5px;
                font-size: 0.8rem;
                font-weight: 700;
                position: relative;
                top: -7px;
                left: -10px;
            }

            .counter2 {
                background-color: #e44545;
                color: white;
                border-radius: 50%;
                padding: 0px 5px;
                font-size: 0.8rem;
                font-weight: 700;
                position: relative;
                top: -7px;
                left: -10px;
            }
        }
    }
}

/* en tablet .container tiene padding a los lados */
@media (max-width: 1023px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container.userr {
        padding-left: 60px;
        padding-right: 10px;
    }
}