.nav_movil_user {
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    height: 100dvh;
    z-index: 99;

    .inner {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background-color: var(--dark);
        border-radius: 0 6pt 6pt 0;
        box-shadow: 0.5rem 0 2rem rgba(30, 30, 30, 0.18);

        .icon {
            padding: 2rem 0;

            img {
                height: 20px;

                &.logo {
                    height: 35px;
                }
            }

            .counter {
                background-color: #e44545;
                color: white;
                border-radius: 50%;
                padding: 2px 5px;
                font-size: 0.8rem;
                font-weight: 700;
                position: relative;
                top: -7px;
                left: -10px;
            }

            .counter2 {
                background-color: #e44545;
                color: white;
                border-radius: 50%;
                padding: 0px 5px;
                font-size: 0.8rem;
                font-weight: 700;
                position: relative;
                top: -7px;
                left: -10px;
            }
        }
    }
}

/* en mobil .container tiene padding a los lados */
@media (max-width: 1023px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container.userr {
        padding-left: 60px;
        padding-right: 10px;
    }
}